/*
    archive of colors used throught the CSS

    btnBoarderColour: #0070e8
*/

Button {
    font-size: 18;
    color: black;
    background-color: lightgray;
    border-color: #0070e8;
    border-width: 5px;
    border-radius: 100px;
    width: 80%;
    margin-top: 10%;
}

span{
    color:black;
}

button:active{
    border-width: 0;
} 

.h1text-center{
    width: 70%;
    word-wrap: break-word;
    text-align: center;
    font-size: 40;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.contentText{
    margin-top: 25%;
    text-align: center;
    width: 90%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: center;
    font-size: 25px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #0070e8;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

.inputText{
    margin-top: 25%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}